{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>게임</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/style.css' %}" />
</head>
<body>
<nav class="menu_box_1">
        <ul>
            <li><a href="/blog/">블로그</a></li>
            <li><a href="/game">게임</a></li>
            <li><a href="#">메뉴 아이템3</a></li>
            <li><a href="#">메뉴 아이템4</a></li>
        </ul>
    </nav>
    <iframe id="ga" src="https://slither.io"></iframe>
</body>
</html>
